@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat:ital,wght@0,100;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif; }

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 20px 20px 0 20px; }

.logo a {
  text-decoration: none;
  color: black; }

.logo a:hover {
  color: rgba(0, 0, 0, 0.63); }

.nav ul {
  display: flex;
  flex-direction: row;
  width: 100%; }

.nav li {
  list-style-type: none;
  margin: 0 50px; }

.nav li:hover {
  color: rgba(0, 0, 0, 0.63);
  border-bottom: grey solid thin; }

.nav li {
  cursor: pointer; }

.nav .submenu_illustration {
  display: none; }

.nav .botonIllustration:hover .submenu_illustration {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 10px; }

.nav .botonIllustration:hover .submenu2 {
  border-bottom: none;
  color: black;
  margin: 0;
  padding: 5px 0; }

.nav .botonIllustration:hover .submenu2:hover {
  color: rgba(0, 0, 0, 0.63); }

.redes_sociales ul {
  display: flex;
  flex-direction: row;
  width: 100%; }

.redes_sociales li {
  list-style-type: none;
  margin: 0 20px; }

.redes_sociales a {
  text-decoration: none;
  color: black; }

.redes_sociales a:hover {
  border-bottom: grey solid thin;
  color: rgba(0, 0, 0, 0.63); }

#main {
  height: 97vh;
  text-align: center;
  overflow: hidden; }

.home {
  height: 100%;
  overflow: hidden;
  padding-top: 20px; }
  .home img {
    height: 700px; }

.illustration {
  padding-top: 120px;
  padding-bottom: 20px; }
  .illustration ul {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center; }
  .illustration li {
    list-style-type: none;
    height: 200px;
    overflow: hidden; }
  .illustration img {
    height: 200px;
    border-radius: 5px; }

.myImg {
  cursor: pointer;
  transition: 0.3s; }

.myImg:hover {
  opacity: 0.7; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block; }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

.digitales {
  display: none; }

.acuarelas {
  display: none;
  padding-top: 50px;
  height: 100%; }

.about {
  display: none; }
  .about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about p {
    margin: 5px 0; }
  .about img {
    margin: 20px 0 20px 0;
    border-radius: 10px; }

.footer {
  text-align: center; }
