@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat:ital,wght@0,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.logo {

   a {
       text-decoration: none;
       color: black;
   }

   a:hover {
       color: rgba(0, 0, 0, 0.63);
   }
}

.nav {

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    li {
        list-style-type: none;
        margin: 0 50px;
    }

    li:hover {
        color: rgba(0, 0, 0, 0.63);
        border-bottom: grey solid thin;
    }

    li {
        cursor: pointer;
    }

    .submenu_illustration {
        display: none;
    }
    
    .botonIllustration:hover {

        .submenu_illustration {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
        }

        .submenu2 {
            border-bottom: none;
            color: black;
            margin: 0;
            padding: 5px 0;
        }    
        
        .submenu2:hover {
            color: rgba(0, 0, 0, 0.63);
        }
    }
}

.redes_sociales {

    ul {
    display: flex;
    flex-direction: row; 
    width: 100%;
    }

   li {
    list-style-type: none;
    margin: 0 20px;
   }
   
   a {
    text-decoration: none;
    color: black;
   }

   a:hover {
       border-bottom: grey solid thin;
       color: rgba(0, 0, 0, 0.63);
   }
}


#main {
    height: 97vh;
    text-align: center;
}

.home {
    height: 100%;
    overflow: hidden;
    padding-top: 20px;

    img {
        height: 700px;
    }
}

.illustration {

    display: none;  
    padding-top: 150px;  
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li {
        list-style-type: none;
    }
}

.about {
    display: none;
    padding-top: 150px;  

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        margin: 5px 0;
    }

    img {
        margin-top: 20px;
    }
}

.footer {
    text-align: center;
}

